modules = ["nodejs-20", "web"]
run = "run"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "run"]

[workflows]
runButton = "Start App"

[[workflows.workflow]]
name = "Start App"
author = 22473154
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 -m http.server 3000 --bind 0.0.0.0"
