modules = ["nodejs-20", "web"]
run = "run"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "run"]

[workflows]
runButton = "Start App"

[[workflows.workflow]]
name = "Start App"
author = 22473154
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx serve -l 3000"

[[ports]]
localPort = 3000
externalPort = 80
